<h3>Name:  {{user.name.first}} {{user.name.last}}</h3>
<h3>Email: {{user.email}}</h3>
<h3>Institution: {{user.institution}}</h3>
<h3>Institution Type: {{user.institutionType}}</h3>
<h3>You are a {{user.role}}</h3>
