<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>ePBL authentication</title>
	<!-- Bootstrap core CSS-->
	<link href="/bootstrap-admin-theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="/bootstrap-admin-theme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link href="/bootstrap-admin-theme/css/sb-admin.css" rel="stylesheet">

</head>
<body class="bg-dark">
<div class="container">
	<div class="card card-register mx-auto mt-5">
	<div id="body">
		<!--
            Flash messages allow you to display once-off status messages to users, e.g. form
            validation errors, success messages, etc
        -->
		{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
					<div class="alert alert-info">
						{{{flashMessages messages.info}}}
					</div>
				{{/if}}
				{{#if messages.success}}
					<div class="alert alert-success">
						{{{flashMessages messages.success}}}
					</div>
				{{/if}}
				{{#if messages.warning}}
					<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
					</div>
				{{/if}}
				{{#if messages.error}}
					<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
					</div>
				{{/if}}
			</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>
	</div>

</div>
<!--
<div class="container">
	<div id="footer">
		<p>Developed by <a href="/portfolio" target="_blank">MD Ariful Islam</a>.</p>
	</div>
</div>-->
<!-- Bootstrap core JavaScript-->
<script src="/bootstrap-admin-theme/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap-admin-theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/bootstrap-admin-theme/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>
