<form method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="add.collection">
	<div class="form-group row">
		<label for="formTitle" class="col-sm-12 col-form-label">
			<b><i class="fa fa-fw fa-sitemap"></i>Resource Collection Form: Please fill and add resources by this form</b>
		</label>
	</div>
	<hr>
	<div class="form-group row">
		<label for="resource_name" class="col-sm-2 col-form-label">Resource name:</label>
		<div class="col-sm-6">
			<input type="text" name="resource_name" class="form-control" placeholder="Give a name..">
		</div>
	</div>
	<div class="form-group row">
		<label for="resource_type" class="col-sm-2 col-form-label">Resource Type:</label>
		<div class="col-sm-6">
			<select type="resource_type" name="resource_type" class="form-control" id="resourceSelect" onchange="myCollection()">
				<option value="">Select a Type...</option>
				<option value="Website">Website/hyperlinks</option>
				<option value="Video">Video</option>
				<option value="Image">Picture</option>
				<option value="Article">Article/book/Scientific paper</option>
			</select>
		</div>
	</div>
	<div class="form-group row" id="selectionType"></div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Save Resource</button>
			<button type="reset" class="btn btn-primary">Cancel</button>
		</div>
	</div>
</form>
<hr>
{{#if data}}
	<h5 style="text-align: center"><i class="fa fa-fw fa-sitemap"></i>Collected Resources:</h5>
	<hr>
	{{#if data.website}}
	<h1 style="text-align: center"><i class="fa fa-fw fa-link"></i>Website/hyperlinks:</h1>
	{{#each data.website}}
		<div class="form-group row">
		<div class="col-sm-10">
			<ul>
				<li><a href="{{ webUrlResource }}">{{ resource_name }}:{{ webUrlResource }}</a>, Added By: {{ createdBy.name.first }} {{ createdBy.name.last }}</li>
			</ul>
		</div>
	    </div>
	{{/each}}
		<hr>
	{{/if}}
	{{#if data.article}}
		<h1 style="text-align: center"><i class="fa fa-fw fa-book"></i>Article/Book/Scientific paper links:</h1>
		{{#each data.article}}
		<div class="form-group row">
			<div class="col-sm-10">
				<article>Article Name: {{ resource_name }}, [Links: <a href="{{ articleResource }}">{{ articleResource }}</a>] Added By: {{ createdBy.name.first }} {{ createdBy.name.last }}</article>
			</div>
		</div>
	{{/each}}
		<hr>
	{{/if}}
	{{#if data.image}}
		<h1 style="text-align: center"><i class="fa fa-fw fa-picture-o"></i>Images:</h1>
		{{#each data.image}}
		<div class="form-group row">
			<div class="col-sm-10">
				<textarea name="photoResource" class="form-control sir-trevor-image-file">{{ photoResource }}</textarea>
			</div>
		</div>
	{{/each}}
		<hr>
	{{/if}}
	{{#if data.video}}
		<h1 style="text-align: center"><i class="fa fa-fw fa-video-camera"></i>Videos:</h1>
		{{#each data.video}}
		<div class="form-group row">
			<div style="text-align:center" class="col-sm-12">
				<video width="800" height="600" align="center" controls>
					<source src="{{ uploaded_file_path }}" >
				</video>
			</div>
		</div>
	{{/each}}
		<hr>
	{{/if}}
{{else if user.projectId}}
	<div class="form-group">
		<div class="form-row">
			<h5>No collection of resource added yet. Please add some.</h5>
		</div>
	</div>
{{else}}
	{{#ifeq user.role 'student' }}
		<div class="form-group">
			<div class="form-row">
				<h5>You do not have any project yet. Please enroll in a project or contact with your teacher</h5>
			</div>
		</div>
	{{/ifeq}}
	{{#ifeq user.role 'teacher' }}
		<div class="form-group">
			<div class="form-row">
				<h5>You do not have any project yet. Please create project and add your students in the project then generate it</h5>
			</div>
		</div>
	{{/ifeq}}
{{/if}}
