<h5 style="text-align: center"><i class="fa fa-fw fa-clipboard"></i>Current Project: Basic Data</h5>
<div class="form-group row">
	<label for="projecTitle" class="col-sm-2 col-form-label">Project Title: </label>	
	<div class="col-sm-10">
		<input class="form-control" type="text" value="{{ data.project.title }}">
	</div>
</div>
<div class="form-group row">
	<label for="ideaDescription" class="col-sm-2 col-form-label">Description:</label>
	<div class="col-sm-10">
		<p class="form-control-static">{{ data.project.description }}</p>
	</div>
</div>
<div class="form-group row">
	<label for="learningGoals" class="col-sm-2 col-form-label">Learning Goals:</label>
	<div class="col-sm-10">
	<ul>
		{{#if data.allLearningGoals}}
			{{#each data.allLearningGoals}}
				<li>{{goal}}</li>
			{{/each}}
		{{/if}}
	</ul>
	</div>
</div>
<div class="form-group row">
	<label for="resources" class="col-sm-2 col-form-label">Resources:</label>
	<div class="col-sm-10">
		{{#ifeq data.project.resources_upload.data 'null'}}
			<p>No resource added</p>
		{{else}}
			<!-- todo: render sirtrevor data using html/bootstrap as a blog post -->
			<textarea name="resources_upload" class="form-control sir-trevor" id="file_upload">{{ data.project.resources_upload }}</textarea>
		{{/ifeq}}
	</div>
</div>
<div class="form-group row">
{{#if data.project.uploaded_file_path }}
	<div style="text-align:center" class="col-sm-12">
		<video width="800" height="600" align="center" controls>
			<source src="{{ data.project.uploaded_file_path }}" >
		</video>
	</div>
{{/if}}
</div>
<div class="form-group row">
	<label for="ideaStatus" class="col-sm-2 col-form-label">Status of the Project:</label>
	<div class="col-sm-10">
		<p class="form-control-static">
			{{#ifeq data.project.status 'Running' }}
				<b>{{ data.project.status }}(This project is generated already)</b>
			{{/ifeq}}
			{{#ifeq data.project.status 'Created' }}
				<b>{{ data.project.status }}(This project is created, but not generated)</b>
			{{/ifeq}}
			{{#ifeq data.project.status 'Finished' }}
				<b>{{ data.project.status }}(This project is Finished and no current project here)</b>
			{{/ifeq}}
		</p>
	</div>
</div>
<div class="form-group row">
	<label for="participants" class="col-sm-2 col-form-label">Participants:</label>
	<ol>
      {{#each data.participants}}
		<li>{{email}}</li>  
	  {{/each}}
	</ol>
</div>
<div class="form-group row">
	<label for="deadline" class="col-sm-2 col-form-label">Deadline:</label>
	<div class="form-inline col-sm-5">
		<label class="form-control">
			<b>Start-Date:</b> {{data.project.startDate}}
		</label>
	</div>
	<div class="form-inline col-sm-5">
		<label class="form-control">
			<b>End-Date:</b> {{data.project.endDate}}
		</label>
	</div>
</div>

