<form method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="update.idea">
	<input type="hidden" name="id" value="{{data.idea._id}}">
	<div class="form-group row">
		<label for="formCaption" class="col-md-12">
			<h5 style="text-align: center"><i class="fa fa-fw fa-lightbulb-o"></i>Detail of Idea:</h5>
		</label>
	</div>
	<hr>
	<div class="form-group row">
		<label for="ideaTitle" class="col-md-2 col-form-label">Title of Your Idea:</label>
		<div class="col-sm-10">
			<input type="text" name="title" class="form-control" value="{{ data.idea.title }}" placeholder="Give a Title for your idea.....">
		</div>
	</div>
	<div class="form-group row">
		<label for="ideaDescription" class="col-md-2">Description:</label>
		<div class="col-sm-10">
			<textarea name="description" class="form-control" id="ideaGen" rows="3" placeholder="Give details of your idea.....">{{ data.idea.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="resources_upload" class="col-md-12"><h5 style="text-align: center">Add Rich Contents(Image, Video, Tweet, List):</h5></label>
		<div class="col-sm-10">
			<textarea name="resources_upload" class="form-control sir-trevor" id="resources_upload">{{ data.idea.resources_upload }}</textarea>
		</div>
	</div>
	<div class="form-group row">
		<label for="videoResource" class="col-md-2">Video Uploader:</label>
		<div class="col-sm-10">
			<input type="file" name="file_upload" id="file_upload">
			<input type="button" value="Upload" class="btn btn-primary" onclick="uploadMyFile()">
			<div id="new_path"></div>
			<br>
		</div>
		<div style="text-align:center" class="col-sm-12" id="video_file"></div>
		{{#if data.idea.uploaded_file_path }}
			<div style="text-align:center" class="col-sm-12">
				<video width="800" height="600" align="center" controls>
					<source src="{{ data.idea.uploaded_file_path }}" >
				</video>
			</div>
		{{/if}}
	</div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Update Idea</button>
		</div>
	</div>
</form>
