<h5 style="text-align: center"><i class="fa fa-fw fa-question-circle"></i>LearningAgenda Details</h5>
<div class="form-group row">
	<label for="question" class="col-sm-2 col-form-label">Question:(Questioned by: {{data.learningAgenda.createdBy.name.first}} {{data.learningAgenda.createdBy.name.last}})</label>
	<div class="col-sm-10">
		<input class="form-control" name="question" type="text" value="{{ data.learningAgenda.question }}" disabled>
	</div>
</div>
{{#if data.learningAgendaAnswer}}
	{{#each data.learningAgendaAnswer}}
		<div class="form-group row">
			<label for="answer" class="col-sm-2 col-form-label">Answer:(Answered by: {{ createdBy.name.first }} {{ createdBy.name.last }})</label>
			<div class="col-sm-10">
				<p class="form-control">{{answer}}</p>
			</div>
		</div>
	{{/each}}
{{/if}}
<div class="form-group row" id="answerLink">
	<hr class="my-0">
	<div class="card-body py-2 col-sm-10">
		<a class="mr-3 d-inline-block" href="#" id="hideLink">
			<i class="fa fa-fw fa-comment"></i>Answer
		</a>
	</div>
</div>
<form action="/learningAgenda/addLearningAgendaAnswer" method="post">
	<input type="hidden" name="questionId" value="{{ data.learningAgenda._id }}">
	<div class="form-group row" style="display: none" id="answerInput">
		<label for="answer" class="col-sm-2 col-form-label">Answer:</label>
		<div class="col-sm-10">
			<input class="form-control" name="answer" type="text">
		</div>
		<div class="form-actions col-sm-12">
			<div class="modal-footer">
				<button type="reset" class="btn btn-secondary" >Clear</button>
				<button type="submit" class="btn btn-primary">Answer</button>
			</div>
		</div>
	</div>
</form>
